@import "../../../../style/mixin.scss";

.registerBody {
  background-color: $primary-color;
  padding: 50px 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .error {
      font-size: 1.4rem;
      color: red;
    }
    img {
      width: 50%;
    }
    .mainImage {
      width: 50%;
    }
    .register {
      z-index: 5;
      background-color: white;
      border-radius: 2px;
      width: 40%;
      padding: 15px 25px;
      box-shadow: 0 0.3rem 1rem 0 #00000024;

      .title {
        font-size: 2.5rem;
      }
      .form-group {
        margin: 10px 0;
      }
      .form-control {
        height: 40px;
        font-size: 1.4rem;
      }
      .submit {
        color: white;
        font-weight: 300;
        text-transform: uppercase;
        background-color: $primary-color;
        border: 1px solid #ccc;
        padding: 9px 9px;
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px 0;
        width: 100%;
        font-size: 1.6rem;
        outline: none;

        &:hover {
          opacity: 0.9;
        }
      }
      .middle {
        display: flex;
        align-items: center;
        gap: 10px;

        .cutSection {
          height: 0.5px;
          background-color: gray;
          margin: 0;
          flex: 1;
        }
        .or {
          text-transform: uppercase;
          color: gray;
          font-size: 1.4rem;
        }
      }
      .textDiv {
        display: block;
        margin: 10px 0;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.87);
        text-align: center;
        .termAndConditions {
          padding: 0 1.5625rem;
          margin-right: 0.3125rem;
        }
        .termAndCond {
          color: #ee4d2d;
          cursor: pointer;
          user-select: none;
          text-decoration: none;
          margin: 0 5px;
        }
      }
      .alreadyUser {
        display: block;
        margin: 10px 0;
        font-size: 15px;
        text-align: center;
        color: gray;

        .anchorHandler {
          color: #ee4d2d;
          cursor: pointer;
          user-select: none;
          text-decoration: none;
          margin: 0 5px;
          font-weight: 500;
        }
      }
    }
  }
}
