.footer-last-country-content:not(:last-child) {
    border-right: 1px solid rgba(0,0,0,.1 );
    
}
.footer-last-country-content {
    padding: 0px 5px;
}

.footer-content-country {
    text-decoration: underline;
    padding: 2px;
}