.bannerTop {
  .wrapper {
    padding: 15px 0;

    .superSale {
      background-color: white;
      margin-top: 30px;
      margin-bottom: 30px;
      .title {
        color: rgba(0, 0, 0, 0.54);
        font-size: 15px;
        padding-top: 10px;
        padding-left: 20px;
      }
    }
  }
}
