@import "/src/style/mixin.scss";

.RatingSection {
  .wrapper {
    background-color: #fff;
    h2 {
      font-weight: 400;
      padding: 20px 50px;
    }
    .rating-box {
      background-color: #fffbf8;
      min-height: 5rem;
      border: 1px solid #f9ede5;
      display: flex;
      align-items: center;
      border-radius: 2px;
      box-sizing: border-box;
      padding: 1.875rem;
      margin: 0 50px;

      .rating-box-star {
        font-size: 20px;
        text-align: center;
        padding-right: 20px;
        color: black;
      }
      .rating-box-btn {
        display: flex;
        flex-wrap: wrap;
        margin: 0 10px;
        width: 100%;
        justify-content: space-between;
        flex: 1;
        gap: 10px;
        margin-left: 0.9375rem;
      }
    }
    .noComment{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $white-color;
      margin-bottom: 100px;
      padding: 50px 0;
      font-size: 2rem;
      color: $text-color2;

      i{
        font-size: 5rem;
        margin-bottom: 20px;
      }
    }
    .rating-tab {
      margin: 0 0px 100px;
      height: 700px;
      padding: 50px 0;
      overflow-y: scroll;
    }
  }
}
