@import "../../../style/mixin.scss";

.paymentNotification {
  .content {
    background-color: white;
    padding: 200px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    box-shadow: inset 0 0 10px $border-color;
    font-size: 2rem;

    i {
      font-size: 5rem;

      &.success {
        color: $success-color;
      }
      &.failed {
        color: $failed-color;
      }
    }
    span {
      &.success {
        color: $success-color;
      }
      &.failed {
        color: $failed-color;
      }
    }
    .toHome {
      background-color: $primary-color;
      color: white;
    }
  }
}
