@import "../../../../style/mixin.scss";

.adminOrder {
    .adminContainer {
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 5px 3px -2px #dbdbdb;
        padding: 20px 0 4px 0;
        width: 1200px;
        
        .adminCustomerTable {
            .customerTable {
                padding-left: 20px;
                width: 1200px;
                font-size: 1.5rem;
            
                tr  {

                   padding: 10px 0;
                    border-bottom: 1px solid $text-color2;
                }
                
                tr td img {
                    width: 30px;
                    border-radius: 50%;
                }
        
            }
        }
    }
}