@import "../../../../../style/mixin.scss";

.shopee-product-rating {
  display: flex;
  margin: 20px 50px;
  padding: 10px 0 !important;
  border-bottom: 1px solid $border-color;

  .rating-avatar {
    margin-right: 20px;
    .avt-placeholder {
      .avatar-img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
  .rating-main {
    .author-name{
      font-size: 1.4rem;
      font-weight: 500;
    }
    .rating-time{
      font-size: 1.2rem;
    }
    .comment {
      margin: 20px 0;
      font-size: 1.6rem;
      text-overflow: ellipsis;
    }
    .img-wrapper {
      display: flex;
    }
    .image {
      width: 150px;
      height: 150px;
    }
  }
}
